.first {
  text-align: center;
}
.second {
  text-align: center;
  background-color: rgb(190,190,190);
  height: 19%; 
  margin-bottom: 5px;
}
#search {
display: inline-block;
 width: 350px;
}

li {
  list-style-type: none;
}
.listone {
  float: left;
  width: 33%;
  background-color: #F0F8FF;
  height: 100px;
  margin-right: 7px;
}
.listtwo {
  float: left;
  width: 33%;
  background-color: #F0F8FF;
  height: 100px;
  margin-right: 7px;
}
.listthree {
  float: left;
  width: 32%;
  background-color: #F0F8FF;
  height: 100px;
}
p {
  margin-bottom: -2.5px;
}
[value=subscribe] {
  display: block;
}
center {
  font-size: 12px;
}